<section>
        
    <form action="inicio.html" id="contact" class="contact-form">
        <label for="fullName">Nombre</label>
        <div class="contact-fullName">
            <input id="fullName" autofocus minlength="4">
            <div class="error-detail"></div>
        </div>
        <label for="email">E-mail</label>
        <div class="contact-email">
            <input type="email" autofocus>
            <div class="error-detail"></div>
        </div>
        <label for="comments">Comentarios</label>
        <div class="contact-comments">
            <textarea name="comments" id="comments" cols="22" rows="2"></textarea>
        </div>
        <button type="submit" id="buttonSubmit" >ENVIAR</button>
    </form>

   
    
</section>