
        <section class="section-cards">
            <header class="section-cards__header">
                <h1>Nuestros productos </h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
            </header>

            <div class="cards-container" id="cards-container">
                
            

            </div>
                        
            <footer class="section-cards__footer">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores temporibus ducimus voluptates cum inventore perspiciatis?</p>
                <p>Vel neque porro repellendus animi, fuga, suscipit beatae cum, dolorum fugiat modi dignissimos voluptates placeat.</p>
            </footer>
            
        </section>
