
<section class="section-us">
    <img src="img/Estrellas.jpg" alt=""><h1>Nosotros</h1> <img src="public/img/Estrellas.jpg" alt="">
    <article class="section-us__article-start">
        <h2>Historia</h2>
   <p>Juguetería cósmica nace del sueño de la familia Arganic de salir adelante sin importar los obstáculos. Es gracias a nuestro fundador, Olaznog Arganic, que hoy miles de familias argentinas pueden adquirir todo tipo juegos y juguetes para pasar un buen rato. </p>
   <p>La historia de Olaznog comienza en Dubrovnik en la Croacia de la década de 1990, que antes era conocida como Yugoslavia, es ahí donde la familia Arganic tenía su juguetería "Nebeska Trgovina Igračaka" la juguetería celestial, desde hace más de 2 décadas. Durante ese período el país que lo vió nacer sufría una terrible guerra que amenazaba tanto la seguridad del negocio familiar como la de la familia misma. Sin embargo, los Arganic decidieron seguir adelante con el negocio como una forma de dar esperanza y seguridad a los niños en medio del clima bélico</p>
   <p>Pero todo cambia cuando en un bombardeo, la juguetería es alcanzada y termina incendiándose. </p>
    </article>
    <article class="section-us__article-middle">
        <img src="public/img/Historia/Villa-Crespo_estatuas.jpg" alt="Barrio de Villa Crespo" class="section-us__img-town">
   <p>Ante esta desesperante situación, Olaznog y su familia deciden huir del país y asentarse en un lugar lejos de conflictos, es así que eligen nuestro país, Argentina y hacen de su nuevo hogar el barrio de Villa Crespo.</p>
   <p>Será en este barrio en 1996 en el que Olaznog, tras mucho esfuerzo, abrirá su nuevo juguetería. Pero esta vez su nombre sería distinto, ya que Olaznog consideraba que juguetería celestial le quedaba chico, esta nueva tienda de juguetes debía tener un nombre que la llevara más allá, más allá del cielo, más allá del cosmos...</p>
    </article>
    <img src="img/Estrellas.jpg" alt="">
    <article class="section-us__article-end">
   <img src="img/Historia/jugueteria-cosmica-actualidad.jpg" alt="jugueteria cosmica actualidad" class="section-us__img-toys">
   <p>Y así nace <strong>Juguetería Cósmica</strong>.</p>
   <p>Más de 25 años llevando alegrías a las familias argentinas</p>
    </article>
</section>